.vscode/
sim/csrc*
sim/simv* 
sim/*.tmp 
sim/*.vpd 
sim/*.key 
sim/*.log 
sim/*hdrs.h
sim/*.fsdb 
sim/verdiLog 
sim/elabcomLog 
sim/novas.* 
sim/*.dat 
sim/DVEfiles
sim/stack.info.*
sim/urgReport
sim/vdCovLog
sim/*.old
sim/*.tcl
prj/
*.vcd